/* Provide gap between each container */
.container {
    margin-bottom: 100px;
}

/* Styling the top banner */
.pink-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

/* Styling the contents inside the carousel */
.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

/* Styling button */
.buy-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    
}